﻿<form id="frmBusquedaAlumno">
    <div class="card border-secondary mb-3" style="min-width: 700px;">
        <div class="card-header">
            <div class="d-flex">
                Consulta de Alumnos

                <div class="ms-auto">
                    <button data-form="busqueda_alumno" type="button" class="btn-close" aria-label="Close"></button>
                </div>
            </div>
        </div>
        <div class="card-body text-secondary">
            <table id="tblConsultaAlumnos" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>CODIGO</th>
                        <th>NOMBRE</th>
                        <th>DIRECCION</th>
                        <th>TEELFONO</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</form>